<%= render 'shared/error_messages', :object => f.object %>
<div class="form_row">
  <div class="form_label">
    <%= f.label :username %>
  </div>
  <div class="form_field">
    <%= f.text_field :username %>
  </div>
</div>
<div class="form_row">
  <div class="form_label">
    <%= f.label :name %>
  </div>
  <div class="form_field">
    <%= f.text_field :name %>
  </div>
</div>
<div class="form_row">
  <div class="form_label">
    <%= f.label :email %>
  </div>
  <div class="form_field">
    <%= f.text_field :email %>
  </div>
</div>
<% if allow_param? :users, :department_id %>
<div class="form_row">
  <div class="form_label">
    <%= f.label :department %>
  </div>
  <div class="form_field">
    <%= f.collection_select :department_id, Department.all, :id, :display_name %>
  </div>
</div>
<% end %>
<div class="form_row">
  <div class="form_label">
    <%= f.label :role %>
    <span class="roles_explanation_button_inline">(<a>?</a>)</span>
  </div>
  <div class="form_field">
    <div class="buttonset">
      <% current_user.assignable_roles.each do |r| %>
        <%= f.radio_button :role, r %>
        <%= label "user_role", r %>
      <% end %>
    </div>
  </div>
</div>