<table id="users_table">
  <thead>
    <th><%= sortable "name" %></th>
    <th><%= sortable "username" %></th>
    <th><%= sortable "email" %></th>
    <% if current_user.administrator? %>
    <th><%= sortable "departments.display_name", "Department" %></th>
    <% end %>
    <th><%= sortable "role" %> <span class="roles_explanation_button_inline">(<a class="dialog_open">?</a>)</span></th>
    <th><%= sortable "logins" %></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= will_paginate @users %>