<tr>
  <td><%= best_in_place user, :name %></td>
  <td><%= best_in_place user, :username %></td>
  <td><%= best_in_place user, :email %></td>
  <td><%= user.department.display_name %></td>
  <td><%= user.role.titleize %></td>
  <td><%= user.logins %></td>
  <td><%= link_to "edit", edit_user_path(user) %></td>
  <td><%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete #{user.name}" %></td>
</tr>