<%= render 'shared/error_messages', :object => f.object %>
<div class="form_row">
  <div class="form_label">
    <%= f.label :display_name %>
  </div>
  <div class="form_field">
    <%= f.text_field :display_name %>
  </div>
</div>
<div class="form_row">
  <div class="form_label">
    <%= f.label :short_name %>
  </div>
  <div class="form_field">
    <%= f.text_field :short_name %>
  </div>
</div>