<% if @sites.any? %>
  <ul id="type_select">
    <%= @department.site_type_links(@types, @site_type) %>
  </ul>
  <section id="site_list">
    <% @sites.each do |site| %>
      <div class="site_summary" <%= site.status_data(@status_counts[site.id]) %>>
        <%= link_to site.display_name, department_site_path(@department, site), :class => "site_title" %>
        <div id="<%= site.short_name %>_chart" class="status_chart">
          <%= high_chart("#{site.short_name}_chart", site.pie_chart(@status_counts[site.id])) %>
        </div>
      </div>
    <% end %>
  </section>
<% else %>
  <p class="no_sites">There are no sites in this department.</p>
<% end %>
<%= link_to "Manage Sites", sites_path, :class => "button" if allow? :sites, :index %>
