<% if @logs.any? %>
  <table id="logs_table">
    <thead>
      <th><%= sortable "clients.name", "Computer" %></th>
      <th><%= sortable "sites.display_name", "Site" %></th>
      <th><%= sortable "vm", "Virtual Machine" %></th>
      <th><%= sortable "user_id", "User" %></th>
      <th><%= sortable "login_time" %></th>
      <th><%= sortable "logout_time" %></th>
      <th>Duration</th>
    </thead>
    <tbody>
      <%= render @logs %>
    </tbody>
  </table>

  <%= will_paginate @logs %>
  <p class="log_count"><%= number_with_delimiter(@log_count) %> logs returned.</p>
<% else %>
  <p class="no_logs">There are no logs that match your query.</p>
<% end %>