<%= form_tag logs_path, :method => 'get', :id => 'search_form' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <div class="filter_row">
    <p>
      <%= label_tag :search_client, "Device Name, MAC, or IP" %>
      <%= hidden_field_tag :search_client, @client, :data => { :placeholder => "Name/MAC/IP" }, :id => "client" %>
    </p>
    <p>
      <%= label_tag :search_vm_or_user, "Virtual Machine or User" %>
      <%= hidden_field_tag :search_vm_or_user, params[:search_vm_or_user], :data => { :placeholder => "VM/User" }, :id => "vm_or_user" %>
    </p>
    <p>
       <%= label_tag :search_site, "Site" %>
       <%= select_tag :search_site, options_from_collection_for_select(@sites, :id, :display_name, params[:search_site]), :multiple => true, :id => "site" %>
    </p>
    <p>
      <%= label_tag :search_type, "Device Type" %>
      <%= select_tag :search_type, options_for_select([["Mac", "mac"], ["PC", "pc"], ["Thin Client", "tc"], ["Zero Client", "zc"]], params[:search_type]), :multiple => true, :id => "type" %>
    </p>
    <p>
      <%= label_tag :search_start_date, "Starting Date" %>
      <%= text_field_tag :search_start_date, params[:search_start_date], :id => "start_date" %>
    </p>
    <p>
      <%= label_tag :search_end_date, "Ending Date" %>
      <%= text_field_tag :search_end_date, params[:search_end_date], :id => "end_date" %>
    </p>
  </div>
  <div id="button_row">
    <p>
      <%= submit_tag "Search", :name => nil, :id => "submit_button" %>
    </p>
    <p>
      <a id="reset_form">Reset</a>
    </p>
  </div>
<% end %>
<div id="searching">
  <%= image_tag "searching.gif", :title => "Searching" %>
</div>
<div id="logs"><%= render 'logs' %></div>

<div id="icons">
  <%= image_tag "user.png", :title => "User", :class => "user_icon" %>
  <%= image_tag "vm.png", :title => "VM", :class => "vm_icon" %>
</div>