<nav id="main_nav">
  <h1><a href="<%= url_for(root_path) %>"><span>Sites Usage</span></a><h1>
  <h3><%= image_tag "sublogo_dark.jpg", :title => "Division of IT" %></h3>
  <ul class="menu">
    <%= department_links %>
  </ul>
  <ul id="submenu">
    <li <%= "class=active" if submenu_link_active? "users" %>><%= link_to "Users", users_path %></li>
    <li <%= "class=active" if submenu_link_active? "stats" %>><%= link_to "Statistics", stats_path %></li>
    <li <%= "class=active" if submenu_link_active? "logs" %>><%= link_to "Logs", logs_path %></li>
    <% if signed_in? %>
      <li><%= link_to "Log Out", logout_path, :method => :delete %></li>
    <% else %>
      <li <%= "class=active" if submenu_link_active? "sessions" %>><%= link_to "Log In", login_path %></li>
    <% end %>
  </ul>
  <div id="copy">&copy; 2012 University of Missouri<br />Division of Information Technology</div>
</nav>
  