<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png', :type => 'image/png' %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <section id="content">
    <section id="container" class="<%= controller.controller_name %>">
      <%= render 'current_user_status' %>
      <div id="flashes">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash ui-state-#{key}") %>
        <% end %>
      </div>
      <header id="page_title">
        <h1><%= page_heading %></h1>
      </header>
      <%= yield %>
    </section>
     <%= debug(params) if Rails.env.development? %>
  </section>
</body>
</html>
